*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* =========================clear styles========================= */

body {
  font-family: "Nunito Sans", sans-serif;
}

.main {
  background: linear-gradient(180deg, #0c4c7b -100%, #1e2f40 100%);
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.main__inner {
  display: flex;
  justify-content: space-between;
}

.text {
  flex: 0 0 580px;

  padding-top: 170px;
  padding-bottom: 170px;
  color: #faf9f9;
}

h1 {
  font-family: "Nunito Sans";
  font-size: 120px;
  font-weight: 800;
  line-height: 140px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

h1 span {
  display: block;

  color: #fbb731;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 10px;
}

.text p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  color: #dedede;
  margin-bottom: 42px;
}

.main a,
.promo a {
  display: inline-block;

  transition: all 0.4s ease;
  background-color: #fbb731;
  border-radius: 5px;
  color: #1e2f40;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 45px;
}

.main a:hover {
  background-color: #f0a000;
  text-decoration: underline;
}

.promo a:hover {
  background-color: #f0a000;
  text-decoration: underline;
}

.visual {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  position: relative;
}

.bg {
  width: 432px;
  height: 100%;
  background: linear-gradient(
    2.42deg,
    #f37335 -19.6%,
    #fbb731 100.79%,
    #fdc830 100.79%
  );
}

.burger {
  position: absolute;
  width: 829px;
  right: -168px;

  transition-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-name: rotate;
}

/* =========================Media main========================= */
@media (max-width: 1550px) {
  .burger {
    width: 470px;
    right: 0;
    top: 120px;
  }
}

@media (max-width: 980px) {
  .visual {
    display: none;
  }

  .text {
    flex: 0 0 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .text p {
    display: none;
  }

  .main a {
    padding: 30px 55px;
    font-size: 20px;
  }
}

@media (max-width: 590px) {
  .main h1 {
    font-size: 50px;
    line-height: 90px;
  }

  .promo-left:not([disabled]):hover {
    scale: 1;
  }

  .promo-right:not([disabled]):hover {
    scale: 1;
  }
}
/* =========================Media main========================= */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.promo__inner {
  display: flex;
  justify-content: space-between;
}

.promo-left,
.promo-right {
  transition: all 0.4s ease;
  border-radius: 20px;
  flex: 0 0 49%;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo-left:hover {
  scale: 1.05;
}

.promo-right:hover {
  scale: 1.05;
}

.promo {
  padding-top: 186px;
  padding-bottom: 186px;
}

.promo-left {
  background-image: url(./image/left.png);
  padding: 116px 50px;
}

.promo-right {
  background-image: url(./image/right.png);
  padding: 102px 50px;
}

.sale {
  display: inline-block;

  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 900;
  padding: 5px 19px;
  background: #f37335;
  border-radius: 14px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.cost {
  font-family: "Nunito Sans";
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 8 px;
}
.description {
  font-family: "Open Sans";
  color: #faf9f9;
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
}

.promo-left .description {
  max-width: 392px;
}

.promo-right .description {
  max-width: 300px;
  margin-bottom: 20px;
}

.free {
  font-family: Nunito Sans;
  font-size: 44px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 10px;
}

/* =========================Media promo========================= */
@media (max-width: 1200px) {
  .promo__inner {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .promo {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .promo-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .promo-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .promo__inner .description {
    font-size: 20px;
    line-height: 30px;
  }
}
/* =========================Media promo========================= */
.logo {
  width: 63px;
  height: 56px;
}

.footer {
  color: #fff;
  background-color: #1e2f40;
  padding-top: 117px;
  padding-bottom: 106px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.item h2 {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.item ul {
  list-style-type: none;
}

.item li {
  font-family: "Open Sans";
  margin-bottom: 9px;
  font-size: 15px;
  color: #dedede;
  line-height: 24px;
}

.item li:hover {
  text-decoration: underline;
}

.item a {
  color: #dedede;
  text-decoration: none;
}

.item span {
  display: block;
  color: #dedede;
  margin-bottom: 2px;
}

.tel {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tel a {
  color: #fbb731;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 800;
  line-height: 38px;
}

.tel a:hover {
  text-decoration: underline;
}

/* =========================Media footer========================= */
@media (max-width: 900px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
/* =========================Media footer========================= */
